.home-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}
.home-container img{
    width: 500px;
}
.home-container p{
    font-size: 20px;
}
.first-heading{
    font-size: 60px;
    color: rgb(58, 148, 36);
}
.second-heading{
    font-size: 48px;
    color: rgb(45, 42, 42);
}

.review-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.review-container h1{
    font-size: 48px;
}

.rest-review{
    width: 150px;
    margin-bottom: 80px;
    border: none;
    background-color: white;
    padding: 7px;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0px 0px 4px black;
    cursor: pointer;
}